#RDBMS
rdbms-url="jdbc:mysql://172.31.26.206:3306/netcaredb_ai?autoReconnect=true&useSSL=false"
rdbms-user="ai_test"
rdbms-password="Netcare@13579"

#NEO4J
using=bulk:neo4j-imo
neo4j-url="bolt://172.31.24.111:7688"
neo4j-user="neo4j"
neo4j-password="12345678"
#RULES




#MISC
options-file="/tmp/mysql/options.json"
csv-directory="/tmp/mysql/"
quote="'"
import-tool="$NEO4J_HOME/bin"